<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
	<meta name="author" content="Webpixels">
	<title>Bio Web</title>
	<!-- Fonts -->
	<!--   FontAwesome 在Thymeleaf生效需要导入这三个链接 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
	<!-- Theme CSS -->
	<link type="text/css" rel="stylesheet"  th:href="@{/css/theme.css}">
	<!-- Demo CSS - No need to use these in your project -->
	<link type="text/css"  rel="stylesheet" th:href="@{/css/demo.css}">
	<!-- Core -->
	<script type="text/javascript" th:src="@{~/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{~/vendor/popper/popper.min.js}" ></script>
	<script type="text/javascript" th:src="@{~/js/bootstrap/bootstrap.min.js}"></script>
	<!-- FontAwesome 5 -->
	<script type="text/javascript" th:src="@{~/vendor/fontawesome/js/fontawesome-all.min.js}" defer></script>
	<!-- Page plugins -->
	<script type="text/javascript" th:src="@{~/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
	<script type="text/javascript" th:src="@{~/vendor/input-mask/input-mask.min.js}"></script>
	<script type="text/javascript" th:src="@{~/vendor/nouislider/js/nouislider.min.js}"></script>
	<script type="text/javascript" th:src="@{~/vendor/textarea-autosize/textarea-autosize.min.js}"></script>
	<!-- Theme JS -->
	<script type="text/javascript" th:src="@{~/js/theme.js}"></script>

</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="/"><strong>Virus</strong> Info Web</a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
          <ul class="navbar-nav ml-auto align-items-lg-center">
            <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
			<li class="nav-item">
			  <a class="nav-link nav-link-icon" href="/" target="_blank"><i class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
			</li>
            <li class="nav-item ">
              <a class="nav-link" href="/">contact us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">login in</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                <a class="dropdown-item" href="../pages/homepage.html">Homepage</a>
                <a class="dropdown-item" href="../pages/about.html">About us</a>
                <a class="dropdown-item" href="../pages/sign-in.html">Sign in</a>
                <a class="dropdown-item" href="../pages/contact.html">Contact</a>
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
	<section class="spotlight bg-cover bg-size--cover" style="background-image: url('/images/backgrounds/img-1.jpg')">
		<span class="mask bg-primary alpha-7"></span>
		<div class="spotlight-holder py-sm pt-lg-lg">
			<div class="container d-flex align-items-center">
				<div class="row cols-xs-space cols-sm-space cols-md-space align-items-center justify-content-around">
					<div class="col-lg-5 text-center">
						<h2 class="heading h1 text-white strong-400">
							甲型流感数据收集分析平台
						</h2>
						<p class="lead text-white mt-4">
							甲型流感数据收集分析-这里是没想好怎么写的简介..................................
						</p>
						<a href="#" target="_blank" class="btn bg-white mt-4">
							Learn more
						</a>
					</div>
					<div class="col-lg-7">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Search for virus antigen  Sequence" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">search</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

      <section class="slice slice-lg" data-delimiter="1">
        <div class="container">
          <div class="mb-md text-center">
            <h3 class="heading h3">All Virus</h3>
            <div class="fluid-paragraph text-center mt-4">
              <p class="lead lh-180">此处文本内容待写.................................................</p>
            </div>
          </div>
		  <div class="row-wrapper">
			  
			  
			<table class="table table-hover table-cards align-items-center">
			    <thead>
			        <tr>
			            <th scope="col">Virus Name</th>
			            <th scope="col">SequenceType</th>
			            <th scope="col">Time</th>
						<th scope="col">detail</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr class="bg-white" th:each="virus:${page.records}">
			            <th scope="row">
			                <div class="media align-items-center">
			                    <div class="media-body">
			                        <h6 class="h5 font-weight-normal mb-0" th:text="${virus.name}"></h6>
			                        <span class="font-weight-normal text-muted" th:text="${virus.type}"></span>
			                    </div>
			                </div>
			            </th>
			            <td th:text="${virus.SequenceType}"></td>
			            <td th:text="${virus.time}"></td>
						<td><a th:href="@{/virusInfo(virusId=${virus.id})}">detail</a></td>
			        </tr>
			        <tr class="table-divider"></tr>

			    </tbody>
			</table>
		  </div>
			<!-- 显示分页信息 -->
			<div class="row">
				<!--分页文字信息  -->
				<div class="col-md-6" >当前 [[${page.current}]]页,总[[${page.pages}]]
					页,总[[ ${page.total}]] 条记录</div>

				<!-- 分页条信息 -->
				<div class="col-md-6">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<!--点击首页会跳转到第一页，并且首页禁用-->
							<th:block th:if="${page.current==1}">
								<li class="page-item active,disabled">
									<a class="page-link">首页</a></li>
							</th:block>

							<th:block th:if="${page.current>1}">
								<li class="page-item"><a class="page-link" th:href="@{/list(pn=1)}">首页</a></li>
							</th:block>

							<li class="page-item" th:if="${page.hasPrevious()}">
								<a class="page-link"  th:href="@{/list(pn=${page.getCurrent()-1})}">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<!--遍历页码，小于五页，点击下一页之后，每次多遍历两个页码-->
							<th:block  th:if="${page.getPages() < 5}" th:each="i:${#numbers.sequence(1,page.getPages())}">
								<!--加判断是不是当前页，如果是 高亮显示，并且取消超链接，这样避免了点击当前页重复发送请求查询数据-->
								<th:block th:if="${page.getCurrent()==i}">
									<li  class=" page-item active" >
										<a class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<th:block th:if="${page.getCurrent()!=i}">
									<li class="page-item">
										<a class="page-link" th:text="${i}" th:href="@{/allPaperPage(pn=${i},time=${time},order=${order})}"></a>
									</li>
								</th:block>

							</th:block>
							<!--遍历页码，只显示五页，点击下一页之后，每次多遍历两个页码-->
							<th:block  th:if="${page.getCurrent()<=3 && page.getPages() >= 5}" th:each="i:${#numbers.sequence(1,5)}">
								<!--加判断是不是当前页，如果是 高亮显示，并且取消超链接，这样避免了点击当前页重复发送请求查询数据-->
								<th:block th:if="${page.getCurrent()==i}">

									<li  class=" page-item active" >
										<a class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<th:block th:if="${page.getCurrent()!=i}">
									<li class="page-item">
										<a class="page-link" th:text="${i}" th:href="@{/list(pn=${i})}"></a>
									</li>
								</th:block>
							</th:block>


							<th:block th:if="${page.getCurrent()>3 && page.getCurrent()+2<=page.getPages()  && page.getPages() >= 5}"
									  th:each="i:${#numbers.sequence(page.getCurrent()-2,page.getCurrent()+2)}">
								<!--同理上-->
								<th:block th:if="${page.getCurrent()==i}">

									<li  class="page-item active" >
										<a class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<th:block th:if="${page.getCurrent()!=i}">
									<li class="page-item">
										<a class="page-link" th:text="${i}" th:href="@{/list(pn=${i})}"></a>
									</li>
								</th:block>
							</th:block>



							<th:block th:if="${page.getCurrent()+2>page.getPages() && page.getPages() >= 5}"
									  th:each="i:${#numbers.sequence(page.getPages()-4,page.getPages())}">
								<!--同理上-->
								<th:block th:if="${page.getCurrent()==i}">

									<li  class="page-item active" >
										<a class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<th:block th:if="${page.getCurrent()!=i}">
									<li class="page-item">
										<a class="page-link" th:text="${i}" th:href="@{/list(pn=${i})}"></a>
									</li>
								</th:block>
							</th:block>


							<!--下一页-->
							<li class="page-item" th:if="${page.hasNext()}">
								<a class="page-link" th:href="@{/list(pn=${page.current+1})}">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
							<!--点击末页会跳转到最后一页，并且最后一页禁用-->
							<th:block th:if="${page.current<page.pages}">
								<li class="page-item" > <a class="page-link" th:href="@{/list(pn=${page.pages})}">末页</a></li>
							</th:block>

							<th:block th:if="${page.current==page.pages}">
								<li class="page-item active,disabled"> <a class="page-link">末页</a></li>
							</th:block>

						</ul>
					</nav>
				</div>
			</div>

<!--			<nav aria-label="Page navigation example">-->
<!--		      <ul class="pagination">-->
<!--		          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>-->
<!--		          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#">4</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#">5</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#">6</a></li>-->
<!--		          <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>-->
<!--		      </ul>-->
<!--		  </nav>-->
		  
        </div>
      </section>

    </main>

  </body>
</html>