<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nihao</title>
</head>
<body>
<!--上传两个字符串-->
<form action="/virusCompareBySequence" method="post">
    <tr>
    <th>病毒A序列：</th>
    <td><textarea type="text" name="virusSequence1" rows="20" cols="50"/></textarea></td>
    </tr>
    <br>
    <tr>
        <th>病毒B序列：</th>
        <td><textarea type="text" name="virusSequence2" rows="20" cols="50"/></textarea></td>
    </tr>
  <input type="submit" />
</form>
</body>
</html>