<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传成功</title>
</head>
<body>



    <table>
        <tr th:each="map : ${resultMap}">
            <td th:text="${map.key} + | --- | + ${map.value}"></td>
            <form action="download" method="POST" enctype="multipart/form-data">
                <input type="text" th:value="${realPathMap.get(map.getKey())}" name="FileName" hidden>
                <input type="submit" value="下载文件"/>
            </form>

        </tr>
    </table>


</div>
</body>
</html>