<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bio.userInfo.mapper.UserMapper">
    <select id="findall" parameterType="int" resultType ="com.bio.entityModel.model.user.userInfo">
        select * from userInfo
        where id = #{id}
    </select>
<!--    存入注册的用户-->
    <insert id="insertUserInfo" parameterType="com.bio.entityModel.model.user.userInfo">
        insert into userInfo ( nickName, password,email,activeStatus,activeCode)
        values (#{nickName}, #{password}, #{email},#{activeStatus},#{activeCode})
    </insert>

    <select id="selectUserIdByMail" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from userInfo
        where email = #{email}
    </select>
    <select id="selectUserByMail" parameterType="java.lang.String" resultType="com.bio.entityModel.model.user.userInfo">
        select * from userInfo
        where email = #{email}
    </select>
</mapper>